{% extends 'base.html' %}

{% block title %} Categories List {% endblock title %}
{% block content %} 
<main>
    <h1>My Categories</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for spicy in ernie %}
            <tr>
                <td> {{ spicy.name }} </td>
                <td> {{ spicy.receipts.all|length }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</main>
{% endblock content %}