{% extends 'base.html' %}

{% block title %} Accounts List {% endblock title %}
{% block content %} 
<main>
    <h1>My Accounts</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for flamingo in big_bird %}
            <tr>
                <td> {{ flamingo.name }} </td>
                <td> {{ flamingo.number }} </td>
                <td> {{ flamingo.receipts.all|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</main>
{% endblock content %}